# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src/assets/LJAF07_OTemploDoTerror/imagens/originais/*
public/LJAF07_OTemploDoTerror/imagens/originais/*
public/originais/*
.vercel
tsconfig.app.tsbuildinfo
package-lock.json
tsconfig.app.tsbuildinfo
