@import "../globais/EstilosGlobais.scss";

.livroJogo_Desktop {
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    display: flex;
    background-image: url("/fundo_mesa_madeira_bruta.jpg");
    background-repeat: repeat-y;
    background-size: 100% auto;

    &_2 {
        height: 100%;
        width: calc(100% - PixelParaVW(20));
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
    }

    &_campanha {
        flex: 1;
        box-sizing: border-box;
        background: url("/fundo_pergaminho_papel_antigo_5.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;

        &_2 {
            padding: PixelParaVW(60) PixelParaVW(50) PixelParaVW(60) PixelParaVW(50);
        }
    }

    &_panilha {
        width: 30%;
        min-width: PixelParaVW(360);

        &_2 {
            width: 100%;
            background: url("/fundo_pergaminho_papel_antigo_1.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        &_3 {
            padding: PixelParaVW(80) PixelParaVW(30) PixelParaVW(80) PixelParaVW(30);
        }

        &_comandos {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
        }
    }
}

.livroJogo_Celular {
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    gap: 10px;
    display: flex;
    flex-direction: column;
    background-image: url("/fundo_mesa_madeira_bruta.jpg");
    background-repeat: repeat-y;
    background-size: 100% auto;

    &_2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &_panilha {
        width: 100%;
        box-sizing: border-box;
        background: url("/fundo_pergaminho_papel_antigo_1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: calc(100% + PixelParaVW(100)) 100%;
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            background-image: inherit;
            background-size: inherit;
            background-position: inherit;
            z-index: -2;
        }

        &_2 {
            padding: PixelParaVW(60) PixelParaVW(50) PixelParaVW(60) PixelParaVW(20);
        }
    }

    &_campanha {
        width: 100%;
        box-sizing: border-box;
        background: url("/fundo_pergaminho_papel_antigo_5.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: calc(100% + PixelParaVW(100)) 100%;
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            background-image: inherit;
            background-size: inherit;
            background-position: inherit;
            z-index: -1;
        }

        &_2 {
            padding: PixelParaVW(60) PixelParaVW(50) PixelParaVW(80) PixelParaVW(20);
        }
    }

    &_comandos {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
}
