.paginaInicial {
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #101010;
    background-position: center;
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
    min-width: 100vw;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &_total {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &_espaco {
        height: 40%;
        min-height: 40%;
        max-height: 40%;
        width: 100%;
    }

    &_conteudo {
        height: 60%;
        min-height: 60%;
        max-height: 60%;
        width: 100%;
        color: #fefefe;
        font-size: larger;
        line-height: normal;
        display: flex;
        flex-direction: row;

        &_1 {
            height: 100%;
            width: 20%;
            display: flex;
            align-items: end;
        }

        &_2 {
            height: 100%;
            width: 60%;

            &_apresentacao {
                display: flex;
                align-items: start;
                justify-content: start;
                text-shadow: 2px 2px 4px #000000;

                p {
                    margin: 8px;
                }
            }

            &_jogosSalvos {
                display: flex;
                align-items: start;
                justify-content: center;
            }
        }
    }
}
