.panilha {
    table {
        width: 100%;
        margin: auto;
        table-layout: fixed;
        text-align: center;
        border-collapse: collapse;
        border: 2px groove #213547;
    }

    h2 {
        text-align: center;
        margin: 0 0 20px 0;
    }

    th,
    td {
        border-collapse: collapse;
        border-left: 2px groove #213547;
        border-right: 2px groove #213547;
        align-items: center;
        justify-content: center;
    }

    ul {
        margin: 4px;
    }

    &_fonteNormal {
        color: #213547;
    }

    &_efeito {
        display: none;
        height: auto;
        width: auto;
        margin: 0 8px 0 0;
        padding: 2px 6px;
        background-color: white;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        font-size: 1.2rem;
        text-align: center;
        animation: AnimarEfeitoPopup 0.5s ease-out forwards;
    }

    &_efeito_bom {
        color: #646cff;
        border: 2px #646cff solid;
    }

    &_efeito_ruim {
        color: #ff8888;
        border: 2px #ff8888 solid;
    }

    &_efeito_popup {
        display: inline-block;
    }

    @keyframes AnimarEfeitoPopup {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    &_numeroAtual {
        font-size: 1.6rem;
    }

    &_energia {
        width: 70%;
    }

    &_itens {
        text-align: left;
    }

    &_encantos {
        text-align: left;
    }
}
