@import "../globais/EstilosGlobais.scss";

.panilhaNova {
    margin: 0 PixelParaVW(40);

    table {
        width: 90%;
        margin: auto;
        table-layout: fixed;
    }

    h2 {
        text-align: center;
        margin: 20px 0 10px 0;
    }

    h2:first-child {
        margin: 0 0 10px 0;
    }

    h4,
    p {
        margin: 0 0 4px 0;
    }

    input[type="text"] {
        width: 100%;
    }

    &_selecaoNivel {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-weight: 400;
        font-size: 1.2rem;

        span {
            padding: 0 10px;
        }
    }

    &_rolagem_titulo {
        width: 40%;
        font-weight: 700;
        font-size: 1.2rem;
    }

    &_rolagem_total {
        font-size: 1.6rem;
    }

    &_rolagem_soma {
        width: 10%;
        text-align: right;
    }

    &_rolagem_dados {
        width: 50%;
        text-align: left;
    }

    &_botoes {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &_avisoInvalido {
            position: absolute;
            top: 100%;
            left: 100px;
            margin-top: 5px;
            padding: 10px;
            background-color: #f8d7da;
            color: #721c24;
            border: 1px solid #f5c6cb;
            border-radius: 4px;
            width: PixelParaVW(300);
        }
    }
}
