.historias {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    letter-spacing: 0.5px;

    &_texto {
        width: 100%;
    }

    &_efeito {
        width: 100%;
        border-radius: 8px;
        border: 1px solid #646cff;
        padding: 0.6em 1.2em;
        margin: 0;
    }

    &_finalizarHistoria {
        align-items: center;
        justify-items: center;
    }
}
