.combate {
    border: 4px orange solid;
    border-radius: 8px;
    padding: 8px 16px;
    margin: 16px 0 0 0;
    background-color: orange;
    transition: border-color 0.25s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

    &_titulo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 12px 0;
        font-style: italic;

        h3 {
            text-align: left;
            margin: 0;
        }

        h4 {
            text-align: right;
            margin: 0;
        }
    }

    &_derrota {
        &_2 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            font-style: italic;
            gap: 10px;
        }

        &_operacoesJogoLivro {
            font-size: 1.2rem;
            font-style: italic;
            border-left: 1px #282828 dotted;
            padding-left: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;

            &_numeroAtual {
                font-size: 1.4rem;
            }
        }
    }

    &_arena {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 8px 0;

        &_versus {
            display: flex;
            flex-direction: row;
            width: 100%;
            gap: 24px;
            padding: 10px 0 0 0;
            border-top: 2px black solid;

            &_lado {
                flex: 1;

                &_2 {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                    width: 100%;
                }
            }
        }

        &_numeroAtual {
            font-size: 1.6rem;
        }

        &_comandos {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            margin: 0;
        }
    }

    &_esquerda {
        align-items: flex-start;
    }

    &_direita {
        align-items: flex-end;
    }

    &_infos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;

        h4 {
            margin: 0;
        }
    }

    &_lados {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
    }

    &_aguardando {
        font-size: 1rem;
        font-style: italic;
        width: 100%;
    }

    &_atacando {
        font-size: 1.2rem;
        font-style: italic;
        width: 100%;
    }

    &_apoio {
        font-size: 1.2rem;
        font-style: italic;
        width: 100%;
    }

    &_morto {
        font-size: 1rem;
        font-style: italic;
        width: 100%;
    }

    &_efeito {
        display: none;
        height: auto;
        width: auto;
        margin: 0 8px 0 0;
        padding: 2px 6px;
        background-color: white;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        font-size: 1.2rem;
        text-align: center;
        animation: AnimarEfeitoPopup 0.5s ease-out forwards;
    }

    &_efeito_bom {
        color: #646cff;
        border: 2px #646cff solid;
    }

    &_efeito_ruim {
        color: #ff8888;
        border: 2px #ff8888 solid;
    }

    &_efeito_popup {
        display: inline-block;
    }

    @keyframes AnimarEfeitoPopup {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    &_linhaUnica {
        white-space: nowrap;

        span:not(:last-child) {
            display: inline-block;
            margin-right: 8px;
        }
    }
}
