.panilhaNova {
    table {
        width: 90%;
        margin: auto;
        table-layout: fixed;
    }

    h2 {
        text-align: center;
        margin: 0 0 20px 0;
    }

    h4,
    p {
        margin: 0 0 4px 0;
    }

    &_rolagem_titulo {
        width: 40%;
        font-weight: 700;
        font-size: 1.2rem;
    }

    &_rolagem_total {
        font-size: 1.6rem;
    }

    &_rolagem_soma {
        width: 10%;
        text-align: right;
    }

    &_rolagem_dados {
        width: 50%;
        text-align: left;
    }

    &_botoes {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
