.combate {
    border: 4px orange solid;
    border-radius: 8px;
    padding: 8px 16px;
    margin: 16px 0 0 0;
    background-color: orange;
    transition: border-color 0.25s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

    &_titulo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 12px 0;
        font-style: italic;

        h3 {
            text-align: left;
            margin: 0;
        }

        h4 {
            text-align: right;
            margin: 0;
        }
    }

    &_derrota {
        font-style: italic;
    }

    &_arena {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0;

        &_versus {
            display: flex;
            flex-direction: row;
            width: 100%;
            gap: 24px;
            padding: 10px 0 0 0;
            border-top: 2px black solid;

            &_lado {
                flex: 1;

                &_2 {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                    width: 100%;
                }
            }
        }

        &_comandos {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            margin: 0;
        }
    }

    &_esquerda {
        align-items: flex-start;
    }

    &_direita {
        align-items: flex-end;
    }

    &_infos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;

        h4 {
            margin: 0;
        }
    }

    &_lados {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
    }

    &_aguardando {
        font-size: 1rem;
        font-style: italic;
        width: 100%;
    }

    &_atacando {
        font-size: 1.2rem;
        font-style: italic;
        width: 100%;
    }

    &_apoio {
        font-size: 1.2rem;
        font-style: italic;
        width: 100%;
    }

    &_morto {
        font-size: 1rem;
        font-style: italic;
        width: 100%;
    }
}
