.destinos {
    &_normal {
        border: 4px green solid;
        border-radius: 8px;
        padding: 8px 16px;
        margin: 16px 0;
        background-color: #b1eb9b;
        transition: border-color 0.25s;
    }

    &_morte {
        border: 4px #ff6666 solid;
        border-radius: 8px;
        padding: 8px 16px;
        margin: 16px 0;
        background-color: #ff6666;
        transition: border-color 0.25s;
    }

    &_tituloESalvar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 12px 0;
        font-style: italic;

        h3 {
            text-align: left;
            margin: 0;
        }

        &_salvar {
            display: flex;
            justify-content: flex-end;
            margin: 0 6px 0 0;

            p {
                font-weight: 500;
                font-size: 1.2rem;
                margin: 0 0 0 4px;
            }

            button {
                margin: 0;
            }

            &_2 {
                display: flex;
            }
        }
    }

    &_conteudo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        object-fit: cover;

        &_pagina {
            width: 100%;

            button {
                margin: 8px 16px;
            }

            p {
                margin: 0;
            }

            &_rolagem {
                table {
                    width: 100%;
                    table-layout: fixed;
                }

                &_dados {
                    width: 40%;

                    p {
                        margin: 0;
                    }
                }

                &_total {
                    width: 10%;
                    font-weight: 700;
                    font-size: 1.6rem;
                }

                &_texto {
                    width: auto;
                    font-size: 1rem;
                }

                &_atributo {
                    width: 10%;
                    font-weight: 700;
                    font-size: 1.2rem;
                }
            }
        }
        @media (max-width: 768px) {
            &_pagina {
                button {
                    margin: 8px 16px;
                }
            }
        }
    }
}
