.panilha {
    table {
        width: 90%;
        margin: auto;
        table-layout: fixed;
        text-align: center;
        border-collapse: collapse;
        border: 2px groove #213547;
    }

    h3 {
        text-align: center;
    }

    th,
    td {
        border-collapse: collapse;
        border-left: 2px groove #213547;
        border-right: 2px groove #213547;
    }

    ul {
        margin: 4px;
    }

    &_fonteNormal {
        color: #213547;
    }

    &_numeroAtual {
        font-size: 1.6rem;
    }

    &_encantos {
        text-align: left;
    }

    &_itens {
        text-align: left;
    }
}
