.panilha {
    transition:
        width 0.5s,
        height 0.5s;
    height: auto;

    table {
        width: 100%;
        margin: auto;
        table-layout: fixed;
        text-align: left;
    }

    h2 {
        text-align: center;
        margin: 0 0 20px 0;
    }

    td {
        padding: 4px 0;
        vertical-align: top;
    }

    ul {
        margin: 4px;
    }

    &_titulo {
        font-size: 1.5rem;
    }

    &_fonteNormal {
        color: #213547;
    }

    &_numeroAtual {
        font-size: 1.6rem;
    }

    &_tabulacao {
        margin-left: 40px;
    }

    &_efeito {
        display: none;
        height: auto;
        width: auto;
        margin: 0 8px 0 0;
        padding: 2px 6px;
        background-color: white;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        font-size: 1.2rem;
        text-align: center;
        animation: AnimarEfeitoPopup 0.5s ease-out forwards;
    }

    &_efeito_bom {
        color: #646cff;
        border: 2px #646cff solid;
    }

    &_efeito_ruim {
        color: #ff8888;
        border: 2px #ff8888 solid;
    }

    &_efeito_popup {
        display: inline-block;
    }

    @keyframes AnimarEfeitoPopup {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    //&_completo {
    //}

    //&_incompleto {
    //    tr td span {
    //        display: flex;
    //        flex-direction: column;
    //        //align-items: baseline;
    //        //justify-content: center;
    //    }
    //}

    &_comandos {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
            margin: 0;
        }
    }
}
