.destinos {
    &_normal {
        border: 4px green solid;
        border-radius: 8px;
        padding: 8px 16px;
        margin: 16px 0 0 0;
        background-color: #b1eb9b;
        transition: border-color 0.25s;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

        @media screen and (max-width: var(--CELULAR_MAX_WIDTH)) {
            padding: 8px;
        }
    }

    &_morte {
        border: 4px #ff6666 solid;
        border-radius: 8px;
        padding: 8px 16px;
        margin: 16px 0;
        background-color: #ff6666;
        transition: border-color 0.25s;
    }

    &_tituloESalvar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 12px 0;
        font-style: italic;

        h3 {
            text-align: left;
            margin: 0;
        }

        &_salvar {
            display: flex;
            justify-content: flex-end;
            margin: 0 6px 0 0;

            p {
                font-weight: 500;
                font-size: 1.2rem;
                margin: 0 0 0 4px;
            }

            button {
                margin: 0;
            }

            &_2 {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    &_conteudo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        &_pagina {
            width: 100%;

            button {
                margin: 8px 16px;
            }

            p {
                margin: 0;
            }

            &_rolagem {
                table {
                    width: 100%;
                    table-layout: fixed;
                }

                &_coluna_dados {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    span {
                        font-size: 1.2rem;
                        font-weight: 600;
                        margin: 0;
                    }
                }

                &_coluna_texto {
                    width: 50%;
                    font-size: 1rem;
                    font-weight: 400;
                }

                &_total {
                    font-weight: 700;
                    font-size: 1.6rem;
                }

                &_atributo {
                    font-weight: 700;
                    font-size: 1.4rem;
                }
            }
        }
        @media (max-width: 768px) {
            &_pagina {
                button {
                    margin: 8px 16px;
                }
            }
        }
    }
}

@media screen and (max-width: var(--CELULAR_MAX_WIDTH)) {
    .destinos {
        &_normal {
            padding: 8px;
        }
    }
}
