@import "../globais/EstilosGlobais.scss";

.destinos {
    &_normal {
        border: 4px green solid;
        border-radius: 8px;
        padding: 8px 16px;
        margin: 16px 0 0 0;
        background-color: #b1eb9b;
        transition: border-color 0.25s;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

    &_morte {
        border: 4px #ff6666 solid;
        border-radius: 8px;
        padding: 8px 16px;
        margin: 16px 0 0 0;
        background-color: #ff6666;
        transition: border-color 0.25s;
    }

    &_comandos {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 12px 0;
        font-style: italic;

        h3 {
            text-align: left;
            margin: 0;
            white-space: nowrap;
        }

        &_funcao {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            white-space: nowrap;

            *:not(:last-child) {
                display: inline-block;
                margin-right: 0 0 0 4px;
            }

            p {
                font-weight: 500;
                font-size: 1.2rem;
                margin: 0 0 0 4px;
            }

            button {
                white-space: nowrap;
                margin: 0;
            }

            &_2 {
                display: flex;
                justify-content: center;
                align-items: center;
                white-space: nowrap;

                *:not(:last-child) {
                    display: inline-block;
                    margin-right: 0 0 0 4px;
                }
            }

            &_borda {
                border: 1px #aaaaaa solid;
                border-radius: 4px;
                padding: 4px 8px;
            }
        }
    }

    &_conteudo {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        &_pagina {
            display: flex;
            flex: 1;
            width: 100%;

            button {
                margin: 8px 16px;
                flex: 1;
                width: 100%;
            }

            p {
                margin: 0;
            }

            &_rolagem {
                table {
                    width: 100%;
                    table-layout: fixed;
                }

                &_coluna_dados {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    span {
                        font-size: 1.2rem;
                        font-weight: 600;
                        margin: 0;
                    }
                }

                &_coluna_texto {
                    width: 50%;
                    font-size: 1rem;
                    font-weight: 400;
                }

                &_total {
                    font-weight: 700;
                    font-size: 1.6rem;
                }

                &_atributo {
                    font-weight: 700;
                    font-size: 1.4rem;
                }
            }
        }
    }
}
