button {
    border-radius: 8px;
    border: 1px solid #646cff;
    padding: 0.6em 1.2em;
    margin: 0;
    font-size: 1.1rem;
    font-weight: 700;
    font-family: inherit;
    line-height: 1.15;
    background-color: #d9d9d9;
    transition: border-color 0.25s;
    overflow: visible;
    cursor: pointer;
    -webkit-appearance: button;
    appearance: button;

    &:hover {
        border-color: #646cff;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
        transition: 0.2s;
        cursor: pointer;

        &:active {
            -moz-transform: scale(1.2);
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }
    }

    &:focus,
    &:focus-visible {
        outline: 4px auto #646cff;
    }

    &:disabled {
        cursor: not-allowed;
    }
}
