$corHabilidade: #87ceeb;
$corEnergia: #d32f2f;
$corSorte: #800080;

.coresHES {
    font-size: 1.2em;

    &_habilidade {
        color: $corHabilidade;
    }

    &_energia {
        color: $corEnergia;
    }

    &_sorte {
        color: $corSorte;
    }
}
